<div class="posts_wrapper">
  <div class="post_content">
    <div class="post_content__area">
      <h2 class="post_content__area_title">新規投稿</h2>
    </div>
    <%= form_for @post, local: true,  html: {class: "form_area"} do |f| %>
      <div class="error">
        <%= render "users/shared/error_messages", resource: f.object %>
      </div>
      <span class="form_area__user_name"><%= current_user.name %>さんの投稿</span>
      <div class="form_area__field">
        <%= f.label :title, "Title : " %>
        <%= f.text_area :title, class: "form_area__field_text", placeholder: "新しく登録する入居者の名前を記入ください", rows: 2, cols: 40%>

        <div class="form_area__field_image">
          <%= f.fields_for @post.memories do |m| %>
            <%= m.label :image, "画像 : " %>
            <%= m.file_field :image, multiple: true, name: "memories[image][]" %>
            <%= hidden_field :memories, :post_id, value: @post.id %>
          <% end %>
        </div>

        <div class="form_area__hidden_field">
          <%= hidden_field :post, :user_id, value: current_user.id %>
        </div>
        <div class="form_area__action">
          <%= f.submit "投稿", class: "form_area__action_btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
